<ul id="slide-out" class="side-nav fixed mynav">
    <li><h5>My Contacts</h5></li>
    <li *ngFor="let user of users" (click)="onSelect(user)">
        <a href="javascript:void(0)">
            {{user.surname}}
            <span *ngIf="messagingService.getConversation(user.id).unread > 0" class="new badge">
                {{messagingService.getConversation(user.id).unread}}
            </span>
        </a>
    </li>
</ul>
<nav>
    <div class="nav-wrapper blue lighten-2">
        <a href="javascript:void(0)" class="brand-logo center" (click)="home()"><i class="small material-icons">home</i>Lucchat</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div *ngIf="selectedUser">
            <div class="row">
                <div class="card col s3">
                    <div class="card-content">
                        <div class="chip">
                            <img [src]="selectedUser.image" alt="Contact Person">
                            {{selectedUser.surname}}
                        </div>
                        <p>
                            <label>surname: </label>
                            <input [(ngModel)]="selectedUser.surname" placeholder="surname"/>
                        </p>
                        <p><label>firstname</label> {{selectedUser.firstname}}</p>
                        <p><label>lastname</label> {{selectedUser.lastname}}</p>
                    </div>
                </div>
                <div class="col s9">
                    <messaging [user]="selectedUser" [conversation]="messagingService.getConversation(selectedUser.id)">
                    </messaging>
                </div>
            </div>
        </div>
        <div *ngIf="!selectedUser">
            <h3>My contacts</h3>
            <ul>
                <li *ngFor="let user of users" class="mychip" (click)="onSelect(user)">
                    <div class="chip">
                        <img [src]="user.image" alt="Contact Person">
                        {{user.surname}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<footer class="page-footer blue lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">An instant messaging tool</h5>
                <p class="grey-text text-lighten-4">You can use it to chat with your friends</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Miscellaneous</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://angular.io/">Angular 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Materialize</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 No Copyright, I like to share
            <a class="grey-text text-lighten-4 right" href="https://github.com/LTMXcitrus">Matthieu Lemonnier - github</a>
        </div>
    </div>
</footer>
